---
---
<div>
<h1 class="text-7xl font-bold pb-6">Vi mangler fortsat kvinder i it</h1>
<h2 class="text-3xl">Selvom antallet af kvinder på de videregående IT-uddannelser er steget, går udviklingen for langsomt.</h2>
</div>
