---
---
<div class="pt-20 text-xs">
<p class="font-bold pb-2">Kilder:</p>
<p class="pb-2">https://www.danskindustri.dk/arkiv/analyser/2023/11/konsfordelingen-pa-stem-uddannelserne-star-i-stampe/</p>
<p class="pb-2">https://itb.dk/maerkesager/digitale-kompetencer/selvom-ansoegningstallet-skyder-i-vejret-sakker-kvinderne-bagud/</p>
</div>